@import url(../css/fonts.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Barlow', sans-serif;
}

:root {
    --heading-font: 'Fraunces';
    --main-color:  #F2F2F2;
    --secondary-color: #333D4B;
}

.container {
    max-width: 1338px;
    margin: 0 auto;
    padding: 0 30px;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 44px 0 45px 0;
}

.menu__bar {
    display: flex;
    list-style: none;
    column-gap: 29px;
}

.menu__bar span {
    color:#333D4B;
}

.menu__bar a {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;
}

.navbar__btn {
    background: none;
    border: none;
    display: none;
}

.hero {
    background-image: url('../image/Bitmap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1280px;
    height: 600px;
}

.hero__title h1 {
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    padding-bottom: 32px;
    max-width: 493px;
}

.hero__title {
    padding-top: 117px;
    padding-left: 85px;
}

.hero__title p {
    font-weight: 400;
    max-width: 445px;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    padding-bottom: 56px;
}

.btn {
    min-width: 217px;
    max-width: 300px;
    min-height: 56px;
    background: #66D2CF;
    border-radius: 6px;
    color: var(--main-color);
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    font-family: var(--heading-font);
    transition: 1s;
}
.btn:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    transform: scale(1.2, 1.2);
}

.products {
    text-align: center;
    max-width: 255px;
}

.products h3 {
    font-weight: 900;
    font-size: 34px;
    line-height: 32px;
    color: var(--secondary-color);
    font-family: var(--heading-font);
    padding: 71px 0 24px 0;
}

.products p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary-color);
}

.product {
    margin: 150px 0;
    display: flex;
    justify-content: space-between;
}

 .input__one {
        display: none;
} 

.menu__btn-1 {
    display: none;
}

.choose {
    max-width: 1280px;
    max-height: 577px;
    background-color:  #2C343E;
    border-radius: 10px;
    text-align: center;
}

.choose h2 {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: var(--main-color);
    font-family: var(--heading-font);
    padding: 110px 0 32px 0;
}

.choose__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-color);
}

.choose__box {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 85px 0 -50px 85px ;
}

.choose__box-child {
    max-width: 350px;
    text-align: center;
    padding: 47px;
    background: #0E8784;
    border-radius: 8px;
    color: var(--main-color);
}

.choose__box-child img {
    padding: 25px 0 56px 0;
}

.choose__box-child h3 {
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 24px;
    font-family: var(--heading-font);
    line-height: 32px;
}

.choose__box-child p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.choose__child-image {
    margin-top: 18px;
}

.works {
    max-width: 1045px;
    max-height: 565px;
    margin: 200px 0;
    padding: 85px;
}

.works__child {
    max-width: 760px;
    margin: 80px 0 200px 0;
    position: relative;
}

.works__child-img {
    position: absolute;
    left: 0%;
}

.works__child-img1 {
    position: absolute;
    right: 0%;
}

.works__child-path {
    position: absolute;
    top: 12px;
    max-width: 760px;
}

.works__child-img2 {
    left: 48%;
    position: absolute;
}


.works__box {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 79px;
}

.works__card {
    max-width: 290px;
}

.works__btn {
    border: none;
} 

.works__card span {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    font-family: var(--heading-font);
    color: #FDD6BA;
}

.works__card h3 {
    max-width: 250px;
    padding: 38px 0 42px 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    font-family: var(--heading-font);
    color: #333D4B;
}

.works__card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 285px;
    color: #333D4B;
}

.works__h3 {
    font-weight: 900;
    font-family: var(--heading-font);
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.footer {
    max-width: 1280px;
    margin: 100px 0;
    height: 120px;
    background-color: #333D4B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__menu-bar {
    list-style: none;
}

.footer__link {
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
}

.footer__menu ul {
    display: flex;
    column-gap: 15px;
}

@media screen and (max-width:768px) {
    .hero {
        background-image: url('../image/Bitmap\ \(1\).jpg');
        width: 689px;
        height: 500px;
    }
    .hero__title h1 {
        font-weight: 900;
        max-width: 329px;
        font-size: 48px;
        line-height: 48px;
        color: var(--main-color);
        font-family: var(--heading-font);
        padding-bottom: 24px;
    }
    .hero__title p {
        max-width: 398px;
        padding-bottom: 40px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        opacity: 0.8;
    }
    .hero__title {
        padding: 104px 0 0 54px;
    }
    .product {
        flex-direction: column;
        gap: 47px;
    }
    .products {
        display: flex;
        max-width: 573px;
        text-align: left;
        padding-left: 20px;
    }
    .products h3 {
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: var(--secondary-color);
        padding: 40px 0 20px 0;
    }
    .products p {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: var(--secondary-color);
    }
    .choose__box {
        flex-direction: column;
        gap: 24px;
    }
    .choose__box-child {
        max-width: 573px;
        display: flex;
        justify-content: space-between;
        padding: 41px 48px 41px 70px;
        column-gap: 50px;
    }
    .choose__box-child p {
        max-width: 344px;
    }
    .choose__child {
        text-align: left;
    }
    .footer {
        flex-direction: column;
        height: 270px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 576px) {
    .navbar__btn {
        display: block;
    }
    .heafer__image {
        z-index: 110;
    }
    .menu__bar {
        flex-direction: column;
        background: var(--main-color);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        row-gap: 32px;
        transform: translateY(-100%);
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    }

    .input__one:checked~.menu__bar {
        transform: matrix(1, 0, 0, -1, 0, 0);
        transform: translateY(0);
    }

    .menu__btn-1 {
        display: block;
        position: absolute;
        top: 50px;
        right: 40px;
    }

   
    .menu__bar-link  span{
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        font-family: var(--heading-font);
        color: #333D4B;  
    }


    .hero {
        background-image: url('../image/Bitmap\ \(2\).jpg');
        width: 327px;
        height: 500px;
        text-align: center;
    }
    .hero__title h1 {
        font-family: var(--heading-font);
        max-width: 279px;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        color: #FEFCF7;
    }
    .hero__title p {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        opacity: 0.8;
    }
    .hero__title {
        padding: 100px 24px;
    }
    .products {
        flex-direction: column;
        text-align: center;
    }
    .product__box  {
        padding: 30px;
    }
    .choose__box {
        flex-direction: column;
        max-height: 902px;
        margin: 10px 40px -500px 40px;
    }
    .choose {
        padding: 24px;
    }
    .choose__box-child {
        flex-direction: column;
        max-width: 279px;
        padding: 40px;
    }
    .choose__box-child p {
        max-width: 212px;
        max-height: 382px;
    }
    .choose__box-child img {
        max-width: 71px;
        max-height: 72px;
    }
    .works__child {
        display: none;
    }
    .works__box {
        flex-direction: column;
        row-gap: 40px;
    }
    .works__card {
        text-align: center;
    }
    .works__card h3 {
        padding-left: 40px;
    }
    .works__h3 {
        text-align: center;
    }
    .footer {
        flex-direction: column;
        height: 346px;
    }
    .footer__menu ul {
        flex-direction: column;
        row-gap: 20px;
    }
    .footer__menu {
        text-align: center;
    }
}
